name: php 8.0

on:
  push:
    branches: [ 5.x ]
  pull_request:
    branches: [ 5.x ]

jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macOS-latest]
        php-versions: ['8.0']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: intl, gd #optional
        ini-values: "post_max_size=256M" #optional
        coverage: pcov

    - name: Check PHP Version
      run: php -v

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-v2-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-v2-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run test suite
      run: |
        mkdir -p build/logs
        vendor/bin/phpunit  tests --verbose --coverage-clover build/logs/clover.xml

    - name: Run psalm
      run: vendor/bin/psalm

#    - name: Code coverage
#      run: |
#        wget https://scrutinizer-ci.com/ocular.phar
#        php ocular.phar code-coverage:upload  --format=php-clover build/logs/clover.xml

    - name: Run infection
      if: matrix.operating-system == 'ubuntu-latest'
      run: |
        ./infection.phar -j4 --ignore-msi-with-no-mutations --only-covered
      env:
        STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
